<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="admin">
        <route id="alevel_publiccache" frontName="alevel_publiccache">
            <module name="ALevel_PublicCache" />
        </route>
    </router>
</config>
